# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Rust files
[*.rs]
indent_style = space
indent_size = 4
max_line_length = 100

# TOML files (like Cargo.toml)
[*.toml]
indent_style = space
indent_size = 2
