<?xml version="1.0" encoding="UTF-8"?>
<!--

    This file is part of SensApp [ http://sensapp.modelbased.net ]

    Copyright (C) 2011-  SINTEF ICT
    Contact: SINTEF ICT <nicolas.ferry@sintef.no>

    Module: net.modelbased.sensapp

    SensApp is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    SensApp is distributed in the hope that it will be useful, but
    WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General
    Public License along with SensApp. If not, see
    <http://www.gnu.org/licenses/>.

-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		 version="3.0">
  <listener>
	<listener-class>net.modelbased.sensapp.rrd.Initializer</listener-class>
  </listener>
  <servlet>
    <servlet-name>AkkaMistServlet</servlet-name>
    <servlet-class>akka.http.AkkaMistServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>AkkaMistServlet</servlet-name>
    <url-pattern>/sensapp-rrd/*</url-pattern>
  </servlet-mapping>
</web-app>